.DS_Store
.git
*.swp
*.back
*.swo
*.log
*.lock
node_modules/
.settings/org.eclipse.php.core.prefs
.project 
.buildpath
config.js
package-lock.json
src/main/db.db
src/main/voice/
static/voice/*/
static/voice/*/*.mp3
build/
